
//variables
$primary:black;
$secondary:white;
$bg-h:#257ed74b;
$bg-1: #0d2033;
$bg-C:#052a4f77;
$bg-SubT:#FF5376;

$column:column;

$fontS-p: 20px;
$fontS-h1: 40px;
$fontS-h2: 30px;
$fontS-h3: 22px;
$f-St: italic;
$text-ai-L: left;
$text-ai-C: center;
$t-justify: justify;
$t-center: center;
$t-left: left;

$w100: 100%;
$pT-h2: 25px;
$pB-h2: 10px;
$pL-h2: 13px;
$p1: 2vh 2vw 0 2vw ;
$mL-h: 40px;
$ml-p: 18px;

//maps
$colors: (
    primary: black,
    secondary: white,
    bg-h:#257ed74b,
    bg-1: #0d2033,
    bg-C:#052a4f77,
    
);

$fuentes: (
    text-large: 5.2em,
    text-medium: 2.2em,
    text-base: 1.6em,
    text-small: 1.4em
);

$espacios: (
    w100: 100%,
    pT-h: 25px,
    pB-h2: 10px,
    pL-h2: 13px,
    pY: 0px 20px 0 20px 0,
    mL-p: 18px,
    mL-h: 40px,
);